Page.ContactComponent
  ActionBar(title="Contact")
    NavigationButton(
      text="Back!"
      android.systemIcon="ic_menu_back"
      @tap="$router.back()"
    )
  StackLayout
    Label Contact component
